.col-md-8 {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.row-posts .post .info {
    color: #aaa;
    font-style: italic;
}
.form-control {
    padding-top: 0;
   padding-left: 0;
}



/* About Page */
#tmAbout {
    padding-bottom: 80px;
  }
  
  .tm-about-page-title {
    font-size: 2.5rem;
    margin-top: 72px;
    margin-bottom: 40px;
  }
  
  .tm-about-box {
    padding: 25px;
    max-width: 360px;
    margin-bottom: 30px;
  }
  
  .tm-about-title-hr {
    border-top-color: black;
    max-width: 450px;
  }
  
  .tm-bg-black-transparent {
    background-color: rgba(15, 29, 32, 0.76);
    color: white;
  }
  
  .tm-about-header {
    padding-bottom: 80px;
  }
  
  .tm-about-number-container {
    width: 83px;
    height: 83px;
    font-size: 2.2rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tm-about-name {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .tm-about-description {
    margin-bottom: 30px;
    line-height: 1.8;
  }
  
  .tm-app-header {
    max-width: 644px;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 60px;
  }
  
  #tmAppFeatures {
    padding-top: 80px;
    padding-bottom: 24px;
  }
  
  .tm-app-feature-header {
    font-size: 2.8rem;
  }
  
  .tm-app-feature-box {
    display: flex;
    align-items: center;
    padding: 50px 40px; 
    margin-bottom: 40px; 
  }
  
  .tm-app-feature-icon {
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid;
    width:  120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tm-btn-app-feature {
    margin-bottom: 35px;
  }
  
  .tm-app-feature-description-box {
    color: #2C3030;
  }
  
  .tm-app-feature-title {
    font-size: 2rem;
  }



html {
    scroll-behavior: smooth;
    
  }
  
  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3f3f3f;
    overflow-x: hidden;
    background: #85C1E9;
    background: -webkit-linear-gradient(to left, #85C1E9,#F2F3F4 );
    background: linear-gradient(to left, #85C1E9,#F2F3F4 );
    min-height: 100vh;
    
  }
 /* .hero-image {
    background-image: url("/img/bg-01.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }*/
  
  a,
  button {
    transition: all 0.3s ease;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .container-fluid {
    max-width: 1310px;
  }
  
  .small,
  small {
    font-size: 90%;
  }
  
  .parallax-window {
    min-height: 1100px;
    background: transparent;
  }
  
  .tm-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .tm-brand-row {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 28px;
  }
  
  .tm-brand-container {
    max-width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tm-brand-icon {
    width: 79px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333436;
    color: white;
    border-radius: 50%;
    margin-right: 25px;
  }
  
  .tm-brand-name {
    font-size: 2.3rem;
    color: #333333;
  }

  content {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/22/23/03/hardwood-1851071_960_720.jpg);
  }

  
  
  
  
  
  
  
  
